<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script>
<script>
      $(document).ready(function(){
        $('#id_date').change(function(){   
          let dateSelected = $('#id_date').val();
          $.ajax({
            url: "/room_booking/",
            type : 'GET',
            date : { date: dateSelected },
            headers: {
            "X-Requested-With": "XMLHttpRequest"
            },
            success: function(response){
              if (typeof response !== 'undefined' && response !== null && response.rooms.length > 0 ){
                var available_rooms = response.rooms.exclude(roombooking__in=booked_rooms).values('id', 'room_number');
                $.each(available_rooms, function(index, room){
                  $('#id_room_name').append('<option value="' + room.id + '">' + room.room_number + '</option>');
                });
              }else{
                $('#id_room_name').append('<option value="" disabled option>No rooms available for now</option>');
              }
            }
          });          
        });
      });
</script>

    </script>
   
</head>
<body>

  
<form action="" method="post">
  <center>
    <div>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
    </div>

  </center> 
</form>


</body>
</html>
