<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script>
      $('#myModal').on('shown.bs.modal', function () {
      $('#myInput').trigger('focus')
      })
    </script>

</head>
<body>
  <div class="nav-bar">

  </div>

  
<form action="" method="post">
  <center>
    <div style="border:1px solid black;max-width:22rem;">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
    </div>
  </center> 
</form>

<div class="Footer">

</div>

</body>
</html>